.container{
  display: flex;
  flex-direction: column;

}

body {
  font-family: 'Raleway', sans-serif;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightgrey;
}

/* @media(max-width: 720px) {

} */
