body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  background-color: #FFFFF4;
}

.page {
  display: flex;
  flex-direction: column;
  /* background-color: #CAFAFE; */
  height: 80vh;
  border: 3px solid #4CBB17;
  margin-bottom: 2em;

}
                                  /* Fonts */
a {
  font-family: 'Raleway', sans-serif;
}
/* Page Layouts */


.left {
  display: flex;
  width: 54%;
  /* border: 1px solid black; */
  margin-right: 1%;
}

.right {
  display: flex;
  width: 44%;
  /* border: 1px solid black; */
  margin-left: 1%;
}


                              /* About Page */
#about-page {
  margin-top: 4em;
  flex-direction: row;
}
#about-page img {
  height: 80%;
  width: 80%;
  max-height: 400px;
  min-width: 140px;
  max-width: 320px;
  margin: 10% auto;
  border-radius: 40px;
}

#about-page p {
  margin: 10%;
  align-self: center;
  width: 80%;
  max-height: 80%;
}

                              /* Projects Page */
#projects-page {
  justify-content: center;
  align-items: center;
}

#projects-page h2 {
  padding-bottom: 0.25em;
  border-bottom: 3px solid black;
}

.items {
  padding: 1.25em 1.25em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items > p {
  margin-top: 0.25em;
}
.items:hover {
  border: 1px dotted black;
  opacity: 0.5;
}

#expanded {

}

                              /* Testimonials */

#quotes-page {
  height: 30vh;
  background-color: #4CBB17;
  align-items: center;
}

#quotes-page h2 {
  border-bottom: 3px solid black;
}

                              /* Contact Page */
#contacts-page {
  align-items: center;
}

#contact {
  width: 50%;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h5, form input, textarea {
  width: 100%;
  margin: 0.25em 0;
}

form h5 {
  text-align: center;
  font-size: 1.5em;
}

textarea {
  height: 6em;
  resize: none;
}

form button {
  background-color: #4CBB17;
  margin-top: 0.25em;
  width: 60%;
  border-radius: 40px;
}

#contact h3 {
  text-align: center;
  border-bottom: 3px solid black;
  margin: 1em 0;
}

form h5 {
  font-size: 1em;
}
                              /* Sticky Header */


header {
  display: flex;
  justify-content: space-between;
  background-color: #FC4445;

}

.nav {
  margin-top: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

.fas {
  display: none;
}

/* Carousel */
.carousel {
  margin-top: 1em;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.carousel-item {
  max-height: 400px;
  max-width: 800px;
}

/* Footer */
footer {
  background-color: #FC4445;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  font-size: 1.66em;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 20%;
}

.copy {
  font-size: 1em;
  font-weight: bold;
  margin-top: .75em;
}
/* @media(max-width: 720px) {

} */
